<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🎧Rolling Rolling🎧</title>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo:wght@400;700;800&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
/>
  <link rel="stylesheet" href="../static/home.css">
</head>

<body>
  <div class = "container">
      <div class = "title z_index">
        <h1>𝓡𝓸𝓵𝓵𝓲𝓷𝓰 𝓡𝓸𝓵𝓵𝓲𝓷𝓰</h1>
      </div>
      <br>
    <div class = "genre">
      <p>
        𝒫𝓁𝒶𝓎𝒾𝓃𝑔 𝒢𝑒𝓃𝓇𝑒 : {{genre}}
        <button id="myBtn" class = "z_index"> ✏️Change✏️ </button>
      </p>
      <br>
    </div>
      <div id="myModal" class="modal z_index">
      <!-- Modal content -->
      <form method="GET" action = "{% url 'result' %}">
        <div class="modal-content">
          <span class="close">&times;</span>
                <label><input type="radio" name="setting" value="Blues" checked>Blues</label><br>                                                               
                <label><input type="radio" name="setting" value="Classical">Classical</label><br>
                <label><input type="radio" name="setting" value="Country">Country</label><br>
                <label><input type="radio" name="setting" value="Electronic">Electronic</label><br>
                <label><input type="radio" name="setting" value="Experimental">Experimental</label><br>
                <label><input type="radio" name="setting" value="Folk">Folk</label><br>
                <label><input type="radio" name="setting" value="Hip-Hop">Hip-Hop</label><br>
                <label><input type="radio" name="setting" value="Instrumental">Instrumental</label><br>
                <label><input type="radio" name="setting" value="International">International</label><br>
                <label><input type="radio" name="setting" value="Jazz">Jazz</label><br>
                <label><input type="radio" name="setting" value="Novelty">Novelty</label><br>
                <label><input type="radio" name="setting" value="Old-Time__Historic">Old-Time__Historic</label><br>
                <label><input type="radio" name="setting" value="Pop">Pop</label><br>
                <label><input type="radio" name="setting" value="Rock">Rock</label><br>
                <label><input type="radio" name="setting" value="Soul-RB">Soul-RB</label><br>
                <label><input type="radio" name="setting" value="Spoken">Spoken</label><br>
                <input id="modal" type="submit" value="change">
        </div>
      </form>
      </div>
      <div class = "name">
        <center><h1> Wonder Gi - tell me</h1></center>
        <br>
      </div>
      <div id="audioplayerskin">
        <button id="back" onclick="back()"></button>
        <button id="pButton" class="play" onclick="playAudio()"></button>
        <button id="next" onclick="nextPlay()"></button>
        <br />
        <div id="volume_control">
          <input type="range" oninput="setVolume(this.value)" onchange="setVolume(this.value)" id="rngVolume" min="0" max="1" step="0.01" value="1">
        </div>        
      </div>
      <audio id="audioplayer" onended="javascript:nextPlay()">
        <source src="{{arr1}}" type="audio/mp3">
      </audio>
            
  </div>
  <script>
    let arr = "{{arr}}"
    let re = /(http(s)?:\/\/|www.)([a-z0-9\w]+\.*)+[a-z0-9]{2,4}([\/a-z0-9-%#?&=\w])+(\.[a-z0-9]{2,4}(\?[\/a-z0-9-%#?&=\w]+)*)*/g;
    let result = arr.match(re);

    let images = "{{images}}"
    let oldimgArr = images.split('&#x27;');
    let newimgArr = [];

    oldimgArr.forEach((v, i) => {
        if (i % 2 == 1) {
          newimgArr.unshift(v);
        }
      })

    let i = 1
    function nextPlay() {
      console.log(i);
      document.querySelector('body').style.backgroundImage = `url(${newimgArr[i]})`;
      document.getElementById('audioplayer').src = result[i]
      let media = document.getElementById('audioplayer');
      media.currentTime = 0;
      media.play();
      i += 1
      if (i == 19) {
        i = 0
      }
    }
    

    function back() {
      i -= 2
      if(i < 0) {
        i = 19
      }
      nextPlay()
    }


    let music = document.getElementById('audioplayer');
    let pButton = document.getElementById('pButton');
    function playAudio() {
      console.log('playAuio');
      console.log(music);
      if (music.paused) {
        music.play();
        pButton.className = "";
        pButton.className = "pause";
      } else {
        music.pause();
        pButton.className = "";
        pButton.className = "play";
      }
    }
    function setVolume(volume) { music.volume = volume }

    var modal = document.getElementById('myModal');
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];                                          

    // When the user clicks on the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  </script>
  <div 
  style="background-color: black;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  color: white;
  font-family: 'Nanum Myeongjo', serif;">
  ©2020 LikeLion Hanyang ERICA • Crawling Random BGM Team • 
  <a href="https://github.com/jaehoonkimm/likelion-crawling_bgm"
  style="color: white;">
    <i class="fab fa-github-alt"> GITHUB</i>
  </a>
  <br />
  </div>
</body>

</html>