body{
 background-image : url('https://images.unsplash.com/photo-1496582490020-60c1344c64aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=6210&q=80');
 background-repeat: no-repeat;
 background-size :cover;
 font-family: "Segoe Script";
 background-color: black;
}
#audioplayerskin {
  width: 300px;
  height: auto;
  margin: auto auto 20px auto;
  text-align: center;
  background-color: rgba(5, 173, 13, 0.49);
  background-color: transparent;
}

input[type=range] {
  -webkit-appearance: none;
  color: white;
  width: 100%;
  margin: 6.05px 0;
}

input[type="range" i] {
  appearance: slider-horizontal;
  color: black;
  cursor: default;
  padding: initial;
  border: initial;
  margin: 2px;
}
#pButton {
  height: 130px;
  width: 130px;
  border: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
.play {
  background: url(https://rainymood.com/i/play4.png);
  border-radius: 50%;
  animation: animate 5s linear infinite;
  cursor: pointer;
}

.pause {
  background: url(https://rainymood.com/i/pause4.png);
  border-radius: 50%;
  animation: animate 5s linear 1;
  cursor: pointer;
}

#volume_control {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 50%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */                          
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

.container{
  width : 100%;
  height : 100%;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
}
.title{
  margin : 10px 0px 20px 0px;
  color: white;
  font-size: 30px;
  text-align : center;
}
.genre{
  text-align : center;
  align-items: center;
  color: white;
  display: inline;
  font-weight : bold;
  font-size : 25px;
}

#myBtn {
  margin-left: 7px;
}
.audioplayerskin{
  display : inline;
}

#next {
  background: url(https://user-images.githubusercontent.com/58321792/89032139-f6480600-d36e-11ea-833b-7e3acdc267c3.png);
  width: 30px;
  animation: animate 5s linear infinite;
  cursor: pointer;

  height: 50px;
  width: 50px;
  border: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  margin-left : 10px;
}

#back {
  background: url(https://user-images.githubusercontent.com/58321792/89031864-4e323d00-d36e-11ea-841b-bc38f859e71a.png);
  width: 30px;
  animation: animate 5s linear infinite;
  cursor: pointer;

  height: 50px;
  width: 50px;
  border: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  margin-right : 10px;
}
#rngVolume{
  background-color : white;
}
h1{
  color : white;
}

#modal {
  cursor: pointer;
}